{% extends "base_admin.html" %}

{% block title %} Admin {% endblock %}

{% block content %}
    <main class="main active">
      <header class="details-bar">
        <div class="user-details">
          <h1 class="user-role">User ~ <span class="role tag">HR</span></h1>
        </div>
        <div class="date-time-details">
          <p class="date"></p>
          <p class="time"></p>
        </div>
      </header>

      <link rel="stylesheet" href="static/css/attendance.css" />

      <menu class="table-menu" style="display: flex">
        <ul class="btn-container">
          <a href="/today_attendance" class="tag-btn click active"
            >Today Attendance</a
          >
          <a href="/month_attendance" class="tag-btn click"
            >This Month Attendance</a
          >
          <select name="shift" id="shift" class="tag-btn">
            <option value="">Select Shift Name</option>
            <option value="8A">A ~ Shift</option>
            <option value="8B">B ~ Shift</option>
            <option value="8C">C ~ Shift</option>
          </select>
        </ul>
      </menu>

      <section class="frame today-attendance" style="display: flex">
        <div class="inner-frame">
          <div class="frame-header">
            <div class="frame-details currentShift">
              <p class="shift name"><span class="tag">A</span> ~ shift</p>
              <p class="frame-name">Attendance</p>
            </div>
            <div class="frame-options">
              <button type="button" class="download">
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
          </div>
          <div class="frame-body">
            <table class="today-attendance-table">
              <thead>
                <tr class="tablehead">
                  <th>EmpId</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Shift Intime</th>
                  <th>Shift Outtime</th>
                  <th>Intime</th>
                  <th>Outtime</th>
                  <th>Late By</th>
                  <th>Early Go</th>
                  <th>Total Duration</th>
                  <th>Extra Time</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                {% if attendance %} {% for attendance in attendance %}
                <tr data-shift="{{attendance.shiftType}}">
                  <td class="id">{{attendance.emp_id }}</td>
                  <td class="name">{{attendance.name}}</td>
                  <td>{{attendance.date.date()}}</td>
                  <td>{{attendance.shiftIntime}}</td>
                  <td>{{attendance.shift_Outtime}}</td>
                  <td class="intime">{{attendance.inTime}}</td>
                  <td class="outtime">{{attendance.outTime}}</td>
                  <td>{{attendance.lateBy}}</td>
                  <td>{{attendance.earlyGoingBy}}</td>
                  <td>{{attendance.TotalDuration}}</td>
                  <td class="extra">{{attendance.overtime}}</td>
                  <td>
                    {% if attendance.attendance == "Present"%}<i
                      class="fas fa-check-circle"
                    ></i>
                    {% else %}<i class="fas fa-times-circle"></i> {% endif %}
                  </td>
                  <td class="action">
                    <p class="tag">N/A</p>
                  </td>
                </tr>
                {% endfor %} {% endif %}

              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- <script src="static/js/today_attendance.js"></script> -->
    </main>
{% endblock %}

{% block scripts %}
    <script src="static/js/script.js"></script>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/getshift.js"></script>

{% endblock %}