<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KKL - Project</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://cdn.socket.io/4.7.2/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="toogle-sidebar">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="options">
        <li class="option">
          <div class="notification-btn">
            <span class>
              <i class="fas fa-bell"></i>
            </span>
            <div class="notify-count">
              <p class="count">0</p>
            </div>
          </div>

          <ul class="notifications">
            {% if notification %} {% for single_notification in notification %}
            <li class="notification-box">
              <div class="profile">
                <img src="icon/default-girl.jpeg" alt="default user" />
              </div>
              <div class="notification-details">
                <div class="notification-user-name">
                  {{single_notification.emp_name}}
                  <a
                    href="{{ url_for('views.' + single_notification.permission_type.lower() + '_req_profile',
                    emp_id=single_notification.emp_id,
                    emp_name=single_notification.emp_name,
                    from_time=single_notification.from_time,
                    to_time=single_notification.to_time,
                    reason=single_notification.reason,
                    req_id=single_notification.req_id, 
                    back_page='admin',)}}"
                  >
                    <i class="fas fa-eye eye-icon"></i
                  ></a>
                </div>
                <div class="notification-message">
                  {{single_notification.permission_type}}-{{single_notification.reason}}
                </div>
              </div>
            </li>
            {% endfor %} {% else %}
            <li class="notification-box" data-display="none">
              <div class="notification-message">No notification Available</div>
            </li>
            {% endif %}
          </ul>
        </li>
        <a href="/logout" class="option logout">
          <span>
            <i class="fas fa-sign-out-alt"></i>
            <span class="icon-text"> Logout </span>
          </span>
        </a>
      </ul>
    </nav>
    <aside class="sidebar">
      <ul class="side-menu">
        <form class="menu-option active">
          <a href="/attendance_table">
            <span class="icon">
              <i class="far fa-calendar-check"></i>
            </span>
            <p class="menu-name">Attendance</p>
          </a>
        </form>
        <form action="/late_req_table" class="menu-option">
          <a href="/late_req_table">
            <span class="icon">
              <i class="far fa-clock"></i>
            </span>
            <p class="menu-name">Late table</p>
          </a>
        </form>
        <form action="/leave_req_table" class="menu-option">
          <a href="/leave_req_table">
            <span class="icon">
              <i class="fas fa-calendar-plus"></i>
            </span>
            <p class="menu-name">Leave table</p>
          </a>
        </form>

        <li class="menu-option upload-option" style="margin-top: 7px">
          <span class="icon">
            <i class="fas fa-upload"></i>
          </span>
          <p class="menu-name">Upload</p>
        </li>
      </ul>
    </aside>

    <main class="main active">
      <header class="details-bar">
        <div class="user-details">
          <h1 class="user-role">User ~ <span class="role tag">HR</span></h1>
        </div>
        <div class="date-time-details">
          <p class="date"></p>
          <p class="time"></p>
        </div>
      </header>

      

      <link rel="stylesheet" href="static/css/attendance.css" />
      <!-- <iframe src="" frameborder="0" class="frame"></iframe> -->
      <section class="upload-model" style="display: none">
        <div class="inner-upload">
          <a class="close-btn">
            <i class="fas fa-times-circle"></i>
          </a>
          <form method="POST" action="/uploadselect" enctype="multipart/form-data">
            <div class="input-field">
              <label class="label active">
                <input
                  type="radio"
                  name="filetype"
                  value="attendance"
                  id="filetype1"
                  checked="true"
                />
                Attendance
              </label>
              <label class="label">
                <input
                  type="radio"
                  name="filetype"
                  value="addEmployee"
                  id="filetype2"
                />
                add employee
              </label>
              <label class="label">
                <input
                  type="radio"
                  name="filetype"
                  value="shift"
                  id="filetype2"
                />
                Shift excel
              </label>
            </div>
            <div class="drag-drop-area" id="drop-area">
              
              <!-- <input type="file" name="file" id="file" hidden /> -->
            <input type="file" class="form-control-file" id="file" name="emp" accept=".xlsx,.xls" hidden required>
              <p>Drag and drop a file here or click to select a file</p>
            </div>
            <div id="file-actions" style="display: none">
              <button type="button" id="cancel-btn">Cancel</button>
              <button type="submit" id="upload-btn">Upload</button>
            </div>
          </form>
        </div>
      </section>
      <menu class="table-menu" style="display: flex">
        <ul class="btn-container">
          <a href="/today_attendance" class="tag-btn click active"
            >Today Attendance</a
          >
          <a href="/month_attendance" class="tag-btn click"
            >This Month Attendance</a
          >
          <select name="shift" id="shift" class="tag-btn">
            <option value="">Select Shift Name</option>
            <option value="8A">A ~ Shift</option>
            <option value="8B">B ~ Shift</option>
            <option value="8C">C ~ Shift</option>
          </select>
        </ul>
      </menu>
      <section class="frame today-attendance" style="display: flex">
        <div class="inner-frame">
          <div class="frame-header">
            <div class="frame-details currentShift">
              <p class="shift name"><span class="tag">A</span> ~ shift</p>
              <p class="frame-name">Attendance</p>
            </div>
            <div class="frame-options">
              <button type="button" class="download ">
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
          </div>
          <div class="frame-body">
            <table class="today-attendance-table">
              <thead>
                <tr class="tablehead">
                  <th>EmpId</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Shift Intime</th>
                  <th>Shift Outtime</th>
                  <th>Intime</th>
                  <th>Outtime</th>
                  <th>Late By</th>
                  <th>Early Go</th>
                  <th>Total Duration</th>
                  <th>Extra Time</th>
                  <th>Status</th>
                </tr>
                
              </thead>
              <tbody class="tableBody">{% if attendance %} {% for attendance in attendance %}
                <tr data-shift="{{attendance.shiftType}}"><td class="id">{{attendance.emp_id }}</td>
                <td class="name">{{attendance.name}}</td>
                <td>{{attendance.date.date()}}</td>
                <td>{{attendance.shiftIntime}}</td>
                <td>{{attendance.shift_Outtime}}</td>
                <td>{{attendance.inTime}}</td>
                <td>{{attendance.outTime}}</td>
                <td>{{attendance.lateBy}}</td>
                <td>{{attendance.earlyGoingBy}}</td>
                <td>{{attendance.TotalDuration}}</td>
                <td class="extra">{{attendance.overtime}}</td>
                <td>{% if attendance.attendance == "Present"%}<i class="fas fa-check-circle"></i> {% else %}<i class="fas fa-times-circle"></i> {% endif %}</td></tr>
                {% endfor %} {% endif %}</tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- <script src="static/js/today_attendance.js"></script> -->
    </main>
    <script>
      const bell_btn = document.querySelector(".notification-btn");
      const notifications = document.querySelector(".notifications");
      // let count = Array.from(notifications.children).filter(element => !element.classList.contains('notification-box'))
      // .length;
      const all_notifications = notifications.querySelectorAll("li");
      function countNotification() {
        let count = notifications.childElementCount;
        if (count > 9) {
          count = "9+";
        }
        all_notifications.forEach((element) => {
          if (element.getAttribute("data-display") == "none") {
            parseInt(count--);
          }
        });
        document.querySelector(".count").innerHTML = count;
      }

      countNotification();

      document.addEventListener("click", function (event) {
        const isNotificationButton = event.target.closest(".notification-btn");
        const isNotificationContainer = event.target.closest(".notifications");

        if (!(isNotificationButton || isNotificationContainer)) {
          notifications.classList.remove("active");
          console.log("Removed active class");
        }
      });

      bell_btn.addEventListener("click", () => {
        notifications.classList.toggle("active");
        console.log("Toggled active class");
      });

      const socket = io();
      socket.on("late", function (late_permission) {
        console.log("Received late_permission:", late_permission.emp_id);
        const notifications = document.querySelector(".notifications");

        if (document.querySelector(".notification-box")) {
          const default_notification =
            document.querySelector(".notification-box");
          default_notification.style.display = "none";
          default_notification.disabled = true;
        }
        notifications.innerHTML += `
                  <li class="notification-box">
                      <div class="profile">
                          <img src="icon/default.jpeg" alt="default user">
                      </div>
                      <div class="notification-details">
                          <div class="notification-user-name">
                              ${late_permission.emp_name} <a href="{{ url_for('views.late_req_profile',
                    emp_id=late_permission.emp_id,
                    emp_name=late_permission.emp_name,
                    from_time=late_permission.from_time,
                    to_time=late_permission.to_time,
                    reason=late_permission.reason,
                    req_id=late_permission.id,
                    backpage='admin')}}"> <i class="fas fa-eye eye-icon"></i></a>
                          </div>
                          <div class="notification-message">
                              Late - ${late_permission.reason}
                          </div>
                      </div>
                  </li>
                                `;
        countNotification();
        location.reload();
      });

      socket.on("leave", function (leave_permission) {
        console.log("Received leave_permission:", leave_permission.emp_id);
        const notifications = document.querySelector(".notifications");

        if (document.querySelector(".notification-box")) {
          const default_notification =
            document.querySelector(".notification-box");
          default_notification.style.display = "none";
          default_notification.disabled = true;
        }

        notifications.innerHTML += `
                  <li class="notification-box">
                      <div class="profile">
                          <img src="icon/default.jpeg" alt="default user">
                      </div>
                      <div class="notification-details leave-notification">
                          <div class="notification-user-name">
                              ${leave_permission.emp_name}-<a href="{{ url_for('views.leave_req_profile',
                              permission='leave',
                                             emp_id=leave_permission.emp_id,
                                             emp_name=leave_permission.emp_name,
                                             from_time=leave_permission.from_time,
                                             to_time=leave_permission.to_time,
                                             reason=leave_permission.reason,
                                             req_id=leave_permission.id,
                                             backpage='admin',)}}"> <i class="fas fa-eye eye-icon"></i></a>
                          </div>
                          <div class="notification-message">
                              Leave - ${leave_permission.reason}
                          </div>
                      </div>
                  </li>
                                `;
        countNotification();
      });

      document.addEventListener("DOMContentLoaded", function () {
        var dropArea = document.getElementById("drop-area");
        var fileInput = document.getElementById("file");
        var actions = document.getElementById("file-actions");
        var cancelBtn = document.getElementById("cancel-btn");
        var fileNameDisplay = document.createElement("p");
        fileNameDisplay.id = "file-name-display";
        dropArea.appendChild(fileNameDisplay); // Add the file name display to the drop area

        // Function to update UI with file name
        function updateFileNameDisplay(file) {
          fileNameDisplay.innerHTML = file
            ? `Selected file: <strong>${file.name}</strong>`
            : "";
        }

        // Open file selector when clicked on the drop area
        dropArea.addEventListener("click", function () {
          fileInput.click();
        });

        fileInput.addEventListener("change", function () {
          handleFileSelection(this.files);
        });

        dropArea.addEventListener("dragover", function (e) {
          e.preventDefault();
          dropArea.classList.add("drag-over");
        });

        dropArea.addEventListener("dragleave", function (e) {
          e.preventDefault();
          dropArea.classList.remove("drag-over");
        });

        dropArea.addEventListener("drop", function (e) {
          e.preventDefault();
          dropArea.classList.remove("drag-over");
          handleFileSelection(e.dataTransfer.files);
        });

        cancelBtn.addEventListener("click", function () {
          clearFileInput();
        });

        function handleFileSelection(files) {
        if (files && files.length > 0) {
            var allowedFileTypes = ['xlsx', 'xls', 'csv'];
            var file = files[0];
            var fileExtension = file.name.split('.').pop().toLowerCase();
    
            if (allowedFileTypes.indexOf(fileExtension) === -1) {
                alert('Invalid file type. Please select a valid file.');
                clearFileInput();
                return;
            }
    
            // Manually set the files for the file input
            fileInput.files = files;
    
            updateFileNameDisplay(file);
            actions.style.display = 'block';
        }
    }
    

        function clearFileInput() {
          fileInput.value = ""; // Clear the file input
          updateFileNameDisplay(null);
          actions.style.display = "none";
        }
      });

      let all_radios = document.querySelectorAll('input[type="radio"]');

      all_radios.forEach((radio) => {
        radio.addEventListener("click", () => {
          all_radios.forEach((rad) => {
            rad.parentElement.classList.remove("active");
          });
          if (radio.checked == true) {
            radio.parentElement.classList.add("active");
          }
        });
      });

      const upload_model = document.querySelector(".upload-model");
      const uploadClose = document.querySelector(".close-btn");

      uploadClose.addEventListener("click", () => {
        upload_model.style.display = "none";
      });

      const upload_button = document.querySelector(".upload-option");

      upload_button.addEventListener("click", () => {
        upload_model.style.display = "flex";
      });

      if (document
        .querySelector(".download-btn")) {
          document
        .querySelector(".download-btn")
        .addEventListener("click", function () {
          let confirmation = confirm("are you sure..?");

          if (confirmation) {
            document.querySelector(".model-footer").style.display = "none";
            html2canvas(document.querySelector(".notification-model")).then(
              (canvas) => {
                // Create an image and set its source to the canvas data
                var image = canvas.toDataURL("image/png");
                // Create a temporary link to trigger the download
                var tmpLink = document.createElement("a");
                tmpLink.download = "username.png"; // Set the download name
                tmpLink.href = image;

                // Temporarily add the link to the document and trigger the download
                document.body.appendChild(tmpLink);
                tmpLink.click();
                document.body.removeChild(tmpLink);
                document.querySelector(".model-footer").style.display = "flex";
              }
            );
          }
        });
      }
     
    </script>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
