<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://cdn.socket.io/4.7.2/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/late.css" />
  </head>
  <body>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% else %}
      <div class="alert alert-success" role="alert">
          <div class="alert alert-success d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div>
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
       
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} -->
    <nav class="nav-bar">
      <div class="toogle-sidebar">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="options">
        <li class="option">
          <div class="notification-btn">
            <span class>
              <i class="fas fa-bell"></i>
            </span>
            <div class="notify-count">
              <p class="count">0</p>
            </div>
          </div>

          <ul class="notifications">
            {% if notification %} {% for single_notification in notification %}
            <li class="notification-box">
              <div class="profile">
                <img src="icon/default-girl.jpeg" alt="default user" />
              </div>
              <div class="notification-details">
                <div class="notification-user-name">
                  {{single_notification.emp_name}}
                  <a
                    href="{{ url_for('views.' + single_notification.permission_type.lower() + '_req_profile',
                    emp_id=single_notification.emp_id,
                    emp_name=single_notification.emp_name,
                    from_time=single_notification.from_time,
                    to_time=single_notification.to_time,
                    reason=single_notification.reason,
                    req_id=single_notification.req_id, 
                    back_page='admin',)}}"
                  >
                    <i class="fas fa-eye eye-icon"></i
                  ></a>
                </div>
                <div class="notification-message">
                  {{single_notification.permission_type}}-{{single_notification.reason}}
                </div>
              </div>
            </li>
            {% endfor %} {% else %}
            <li class="notification-box" data-display="none">
              <div class="notification-message">No notification Available</div>
            </li>
            {% endif %}
          </ul>
        </li>
        <a href="/logout" class="option logout">
          <span>
            <i class="fas fa-sign-out-alt"></i>
            <span class="icon-text"> Logout </span>
          </span>
        </a>
      </ul>
    </nav>
    <aside class="sidebar">
      <ul class="side-menu">
        <li class="menu-option active">
          <a href="/">
            <span class="icon">
              <i class="far fa-calendar-check"></i>
            </span>
            <p class="menu-name">Attendance</p>
          </a>
        </li>
        <li class="menu-option action-menu emp-disp-option" index="3">
          <a href="/emp_details">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            <p class="menu-name">Employees</p>
          </a>
        </li>
        <li class="menu-option">
          <a href="/late_req_table">
            <span class="icon">
              <i class="far fa-clock"></i>
            </span>
            <p class="menu-name">Late table</p>
          </a>
        </li>
        <li class="menu-option">
          <a href="/leave_req_table">
            <span class="icon">
              <i class="fas fa-calendar-plus"></i>
            </span>
            <p class="menu-name">Leave table</p>
          </a>
        </li>

        <li class="menu-option upload-option" style="margin-top: 7px">
          <span class="icon">
            <i class="fas fa-upload"></i>
          </span>
          <p class="menu-name">Upload</p>
        </li>

        <li class="menu-option delete-option">
          <span class="icon">
            <i class="fas fa-user-times"></i>
          </span>
          <p class="menu-name">Delete Employee</p>
        </li>

        <li class="menu-option edit-option">
          <span class="icon">
            <i class="fas fa-user-edit"></i>
          </span>
          <p class="menu-name">Edit Employee</p>
        </li>
        <li class="menu-option reload-option">
          <span class="icon">
            <i class="fas fa-sync"></i>
          </span>
          <p class="menu-name">Reload</p>
        </li>
      </ul>
    </aside>
    <div class="reload">
      <div class="circle-box">
        <div class="circle"></div>
      </div>
    </div>
    <main class="main active">
      <header class="details-bar">
        <div class="user-details">
          <h1 class="user-role">User ~ <span class="role tag">HR</span></h1>
        </div>
        <div class="date-time-details">
          <p class="date"></p>
          <p class="time"></p>
        </div>
      </header>

      {% block content %} {% endblock %}
    </main>
    <section class="side-sections upload-model" style="display: none">
      <div class="inner-upload main-section">
        <a class="close-btn">
          <i class="fas fa-times-circle"></i>
        </a>
        <form
          method="POST"
          action="/uploadselect"
          enctype="multipart/form-data"
        >
          <div class="input-field">
            <label class="label">
              <input
                type="radio"
                name="filetype"
                value="shift"
                id="filetype2"
              />
              Shift excel
            </label>
            <label class="label">
              <input
                type="radio"
                name="filetype"
                value="addEmployee"
                id="filetype2"
              />
              add employee
            </label>
            <label class="label active">
              <input
                type="radio"
                name="filetype"
                value="attendance"
                id="filetype1"
                checked="true"
              />
              Attendance
            </label>
            <label class="label">
              <input
                type="radio"
                name="filetype"
                value="festival"
                id="filetype2"
              />
              Festival Days
            </label>
          </div>
          <div class="drag-drop-area" id="drop-area">
            <!-- <input type="file" name="file" id="file" hidden /> -->
            <input
              type="file"
              class="form-control-file"
              id="file"
              name="emp"
              accept=".xlsx,.xls"
              hidden
              required
            />
            <p>Drag and drop a file here or click to select a file</p>
          </div>
          <div id="file-actions" style="display: none">
            <button type="button" id="cancel-btn">Cancel</button>
            <button type="submit" id="upload-btn">Upload</button>
          </div>
        </form>
      </div>
    </section>

    <section class="side-sections delete-model" style="display: none">
      <div class="inner-delete-model main-section">
        <a class="close-btn">
          <i class="fas fa-times-circle"></i>
        </a>
        <div class="header">
          <div class="input-field">
            <label class="label active" onclick="showSingleEmp()">
              <input
                type="radio"
                name="deleteType"
                id="deleteType"
                value="single_employee"
                checked="true"
              />
              Single Employee
            </label>
          </div>
          <div class="input-field">
            <label class="label" onclick="showMultiEmp()">
              <input
                type="radio"
                name="deleteType"
                id="deleteType"
                value="multiple_employees"
              />
              Multiple Employees
            </label>
          </div>
        </div>
        <div class="display-container">
          <div class="single-form" style="display: flex">
            <form method="post" action="/del_single_emp">
              <div class="input-field">
                <label>Enter Emp Id</label>
                <input type="text" name="empid" id="empid" />
              </div>
              <div class="button-container">
                <button class="delete-btns submit">
                  <i class="far fa-trash-alt"></i>delete
                </button>
              </div>
            </form>
          </div>
          <div class="table-container" style="display: none">
            <form method="post" action="/del_multiple_emp" id="deleteForm">
              <div class="info-header">
                <p class="counter">
                  <span class="tag">0</span>
                  <span>Selected</span>
                </p>
                <div class="button-container">
                  <button type="button" class="delete-btns cancel">
                    <i class="fas fa-times"></i>cancel
                  </button>
                  <button
                    class="delete-btns submit confirm"
                    onclick="submitForm()"
                  >
                    <i class="far fa-trash-alt"></i>delete
                  </button>
                </div>
              </div>
              <div class="info-body">
                <table
                  class="delete-table"
                  style="width: -webkit-fill-available"
                >
                  <thead>
                    <th>Select</th>
                    <th>Emp Id</th>
                    <th>Emp Name</th>
                  </thead>
                  <tbody class="delete-table-body">
                    {% for emp_login in emp_login %}
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name="select"
                          id="select"
                          value="{{emp_login.emp_id}}"
                        />
                      </td>
                      <td>{{emp_login.emp_id}}</td>
                      <td>{{emp_login.name}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="side-sections edit-model" style="display: none">
      <div class="inner-delete-model main-section">
        <a class="close-btn">
          <i class="fas fa-times-circle"></i>
        </a>
        <div class="display-container">
          <form method="post" action="/edit_employee" id="fetch-form">
            <div class="single-form" style="display: flex">
              <p class="title">Edit Employee</p>
              <div class="input-field">
                <label>Enter Emp Id</label>
                <input type="text" name="empid" id="empid" />
              </div>
              <div class="input-field">
                <label>Select Option</label>
                <select name="editType" id="editType">
                  <!-- <option value="" disabled>Select type</option> -->
                  <option value="name">Employee Name</option>
                  <option value="phoneNumber">Mobile Number</option>
                  <option value="email">Email</option>
                  <option value="address">Address</option>
                </select>
              </div>
              <div class="button-container">
                <button type="button" id="fetch" class="delete-btns fetch">
                  <i class="fas fa-download"></i>Fetch
                </button>
              </div>
              <div class="after-fetch">
                <div class="input-field">
                  <input
                    type="text"
                    name="new_value"
                    id="editInput"
                    class="editInput"
                  />
                </div>
                <button class="delete-btns change">
                  <i class="fas fa-check"></i>Confirm
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="requested-table">
          <table class="edit-requests">
            <thead>
              <th>Sno</th>
              <th>EmpId</th>
              <th>Name</th>
              <th>Type</th>
              <th>Old</th>
              <th>New Request</th>
              <th>Action</th>
            </thead>
            <tbody class="edit-requests-body"></tbody>
          </table>
        </div>
      </div>
    </section>
    <script>
      var socket = io();

      const bell_button = document.querySelector(".notification-btn");
      const notifications = document.querySelector(".notifications");
      const all_notifications = notifications.querySelectorAll("li");
      function countNotification() {
      let count = notifications.childElementCount;
      if (count > 9) {
      count = "9+";
      }
      all_notifications.forEach((element) => {
      if (element.getAttribute("data-display") == "none") {
        parseInt(count--);
      }
      });
      document.querySelector(".count").innerHTML = count;
      }

      countNotification();

      function LategenerateSocketUrl(empId, empName, fromTime, toTime, reason, reqId, status, approved_by, socket_permission) {
      var back_page = '${socket_permission}_table';
      return `{{ url_for('views.late_req_profile') }}` +
      `?emp_id=${empId}&emp_name=${empName}&from_time=${fromTime}&to_time=${toTime}&reason=${reason}&req_id=${reqId}&status=${status}&approved_by=${approved_by}&back_page=${back_page}`;
      }
      function LeavegenerateSocketUrl(empId, empName, fromTime, toTime, reason, reqId, status, approved_by, socket_permission) {
      var back_page = '${socket_permission}_table';
      return `{{ url_for('views.leave_req_profile') }}` +
      `?emp_id=${empId}&emp_name=${empName}&from_time=${fromTime}&to_time=${toTime}&reason=${reason}&req_id=${reqId}&status=${status}&approved_by=${approved_by}&back_page=${back_page}`;
      }


      socket.on("late", function (late_permission) {
      console.log("Received late_permission:",late_permission.emp_id);
      const notifications = document.querySelector(".notifications");
      const notification_box = document.querySelector(".notification-box");

      if(document.querySelector(".notification-box")){
            const default_notification=document.querySelector(".notification-box");
            default_notification.style.display = "none";
            default_notification.disabled = true;
          }
              notifications.innerHTML += `
              <li class="notification-box">
                  <div class="profile">
                      <img src="icon/default.jpeg" alt="default user">
                  </div>
                  <div class="notification-details">
                      <div class="notification-user-name">
                          ${late_permission.emp_name} <a href="${LategenerateSocketUrl(late_permission.emp_id, late_permission.emp_name, late_permission.from_time, late_permission.to_time, late_permission.reason, late_permission.id,late_permission.status,late_permission.approved_by,'{{permission_type}}')}"> <i class="fas fa-eye eye-icon"></i></a>
                      </div>
                      <div class="notification-message">
                          Late - ${late_permission.reason}
                      </div>
                  </div>
              </li>
                                `;
            countNotification();
            window.location.href = "";
            });

      socket.on("leave", function (leave_permission) {
          console.log("Received leave_permission:",leave_permission.emp_id);
          const notifications = document.querySelector(".notifications");

          if(document.querySelector(".notification-box")){
            const default_notification=document.querySelector(".notification-box");
            default_notification.style.display = "none";
            default_notification.disabled = true;
          }

              notifications.innerHTML += `
              <li class="notification-box">
                  <div class="profile">
                      <img src="icon/default.jpeg" alt="default user">
                  </div>
                  <div class="notification-details leave-notification">
                      <div class="notification-user-name">
                          ${leave_permission.emp_name}-<a href="${LeavegenerateSocketUrl(leave_permission.emp_id, leave_permission.emp_name, leave_permission.from_time, leave_permission.to_time, leave_permission.reason, leave_permission.id,leave_permission.status,leave_permission.approved_by,'{{permission_type}}')}"> <i class="fas fa-eye eye-icon"></i></a>
                      </div>
                      <div class="notification-message">
                          Leave - ${leave_permission.reason}
                      </div>
                  </div>
              </li>
                            `;
            countNotification();
            window.location.href = "";
            });

      
    </script>

    {% block scripts %}
     
    {% endblock %}
  </body>
</html>
