{% extends "base_admin.html" %}

{% block title %} Employee {% endblock %}

{% block content %}

<link rel="stylesheet" href="static/css/attendance.css" />

<menu class="table-menu" style="display: flex">
  <div class="btn-container">
    <a href="/today_attendance" class="tag-btn click active">Today Attendance</a>
    <a href="/month_attendance" class="tag-btn click">This Month Attendance</a>
    <select name="shift" id="shift" class="tag-btn">
      <option value="">Select Shift Name</option>
      <option value="">ALL ~ Shift</option>
      <option value="A">A ~ Shift</option>
      <option value="B">B ~ Shift</option>
      <option value="C">C ~ Shift</option>
    </select>
  </div>
</menu>

<section class="frame month-attendance" style="display: flex;">
  <div class="inner-frame">
      <div class="frame-header">
          <div class="frame-details">
              <p class="frame-name">Attendance</p>
              <p class="shift name"><span class="tag">A</span> ~ shift</p>
          </div>
          <div class="frame-search">
              <input type="text" name="idsearch" id="idsearch" placeholder="Search By ID">
              <input type="text" name="namesearch" id="namesearch" placeholder="Search By Name">
          </div>
          <div class="frame-options">
              <button type="button" class="download">
                  <i class="fas fa-file-excel"></i>
              </button>
          </div>
      </div>
      <div class="frame-body">
          <table class="attendance-table">
              <thead>
                  <tr class="thead">
                      <th>EmpId</th>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody class="tableBody filter">
                  
              </tbody>
          </table>
      </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
    <script src="static/js/script.js"></script>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/getshift.js"></script>
    <script src="static/js/month_attendance.js"></script>
{% endblock %}