{% extends "base_admin.html" %}

{% block title %} {{permission_type}}-table {% endblock %}

{% block content %}
    
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/attendance.css" />



      <link rel="stylesheet" href="static/css/late.css" />

      <section class="late-table-section">
        <header class="late-header">
          <div class="frame-header">
            <div class="frame-details">
              <p class="shift name"><span class="tag">A</span> ~ shift</p>
              <p class="frame-name">{{permission_type}} Table</p>
            </div>
            <!-- <div class="frame-options">
              <select name="shift" id="shift" class="tag-btn">
                <option value="">select Shift</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </div> -->
          </div>
        </header>
        <div class="table">
          <table>
            <thead>
              <th>EmpId</th>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>From</th>
              <th>To</th>
              <th>Message</th>
              <th>Status</th>
              <th>By</th>
              <th>Action</th>
            </thead>
            <tbody class="{{permission_type.lower()}}-table" id="{{permission_type.lower()}}-table">
              {% for permission in permission %}
              <tr class="{{permission.status}}">
                <td>#{{permission.emp_id}}</td>
                <td>{{permission.emp_name}}</td>
                <td>{{permission.date.strftime('%d-%m-%Y') }}</td>
                <td>{{permission.date.strftime('%H:%M') }}</td>
                <td>{{permission.from_time}}</td>
                <td>{{permission.to_time}}</td>
                <td>{{permission.reason}}</td>
                <td class="status">{{permission.status}}</td>
                <td>{{permission.approved_by}}</td>
                <td>
                  <a
                    href="{{ url_for('views.' + permission_type.lower() + '_req_profile',
                                     emp_id=permission.emp_id,
                                     emp_name=permission.emp_name,
                                     from_time=permission.from_time,
                                     to_time=permission.to_time,
                                     reason=permission.reason,
                                     req_id=permission.id,
                                     back_page=permission_type.lower()+'_table',)}}"
                    ><i class="fas fa-eye"></i
                  ></a>
                </td>
              </tr>
              {% endfor %}
              <script>
                var socket = io();

                function generateUrl(empId, empName, fromTime, toTime, reason, reqId, status, approved_by) {
                    back_page='${permission_type.lower()}_table'
                  return "{{ url_for('views.'+permission_type.lower()+'_req_profile') }}" +
                    `?emp_id=${empId}&emp_name=${empName}&from_time=${fromTime}&to_time=${toTime}&reason=${reason}&req_id=${reqId}&status=${status}&approved_by=${approved_by}&back_page=${back_page}`;
                }

                socket.on("${permission_type.lower()}", function (permission) {
                  console.log(
                    "Received permission:",
                    permission.emp_id
                  );
                  
                  var currentDate = new Date().toLocaleDateString();
                  var currentTime = new Date().toLocaleTimeString();
                  var tbody = document.getElementById("${permission_type.lower()}-table");
                  tbody.innerHTML += `
                                    <tr>
                                    <td>#${permission.emp_id}</td>
                                    <td>${permission.emp_name}</td>
                                    <td>${currentDate}</td>
                                    <td>${currentTime}</td>
                                    <td>${permission.from_time}</td>
                                    <td>${permission.to_time}</td>
                                    <td>${permission.reason}</td>
                                    <td>${permission.status}</td>
                                    <td>${permission.approved_by}</td>
                                    <td><a href="${generateUrl(permission.emp_id, permission.emp_name, permission.from_time, permission.to_time, permission.reason, permission.id,permission.status,permission.approved_by)}">
                                      <i class="fas fa-eye"></i>
                                      </a>
                                    </td>
                                    </tr>
                                `;
                                console.log("Received permission:", permission.emp_id);
                                  });
              </script>
              <!-- <script>
                const bell_button = document.querySelector(".notification-btn");
const notifications = document.querySelector(".notifications");
const all_notifications = notifications.querySelectorAll("li");
      function countNotification() {
        let count = notifications.childElementCount;
        if (count > 9) {
          count = "9+";
        }
        all_notifications.forEach((element) => {
          if (element.getAttribute("data-display") == "none") {
            parseInt(count--);
          }
        });
        document.querySelector(".count").innerHTML = count;
      }

      countNotification();

function LategenerateSocketUrl(empId, empName, fromTime, toTime, reason, reqId, status, approved_by, socket_permission) {
    var back_page = '${socket_permission}_table';
    return `{{ url_for('views.late_req_profile') }}` +
        `?emp_id=${empId}&emp_name=${empName}&from_time=${fromTime}&to_time=${toTime}&reason=${reason}&req_id=${reqId}&status=${status}&approved_by=${approved_by}&back_page=${back_page}`;
}
function LeavegenerateSocketUrl(empId, empName, fromTime, toTime, reason, reqId, status, approved_by, socket_permission) {
    var back_page = '${socket_permission}_table';
    return `{{ url_for('views.leave_req_profile') }}` +
        `?emp_id=${empId}&emp_name=${empName}&from_time=${fromTime}&to_time=${toTime}&reason=${reason}&req_id=${reqId}&status=${status}&approved_by=${approved_by}&back_page=${back_page}`;
}


      socket.on("late", function (late_permission) {
          console.log("Received late_permission:",late_permission.emp_id);
          const notifications = document.querySelector(".notifications");
          const notification_box = document.querySelector(".notification-box");
          
          if(document.querySelector(".notification-box")){
                const default_notification=document.querySelector(".notification-box");
                default_notification.style.display = "none";
                default_notification.disabled = true;
              }
                  notifications.innerHTML += `
                  <li class="notification-box">
                      <div class="profile">
                          <img src="icon/default.jpeg" alt="default user">
                      </div>
                      <div class="notification-details">
                          <div class="notification-user-name">
                              ${late_permission.emp_name} <a href="${LategenerateSocketUrl(late_permission.emp_id, late_permission.emp_name, late_permission.from_time, late_permission.to_time, late_permission.reason, late_permission.id,late_permission.status,late_permission.approved_by,'{{permission_type}}')}"> <i class="fas fa-eye eye-icon"></i></a>
                          </div>
                          <div class="notification-message">
                              Late - ${late_permission.reason}
                          </div>
                      </div>
                  </li>
                                    `;
                countNotification();
                window.location.href = "";
                });

          socket.on("leave", function (leave_permission) {
              console.log("Received leave_permission:",leave_permission.emp_id);
              const notifications = document.querySelector(".notifications");

              if(document.querySelector(".notification-box")){
                const default_notification=document.querySelector(".notification-box");
                default_notification.style.display = "none";
                default_notification.disabled = true;
              }

                  notifications.innerHTML += `
                  <li class="notification-box">
                      <div class="profile">
                          <img src="icon/default.jpeg" alt="default user">
                      </div>
                      <div class="notification-details leave-notification">
                          <div class="notification-user-name">
                              ${leave_permission.emp_name}-<a href="${LeavegenerateSocketUrl(leave_permission.emp_id, leave_permission.emp_name, leave_permission.from_time, leave_permission.to_time, leave_permission.reason, leave_permission.id,leave_permission.status,leave_permission.approved_by,'{{permission_type}}')}"> <i class="fas fa-eye eye-icon"></i></a>
                          </div>
                          <div class="notification-message">
                              Leave - ${leave_permission.reason}
                          </div>
                      </div>
                  </li>
                                `;
                countNotification();
                window.location.href = "";
                });

                
              </script> -->
            </tbody>
          </table>
        </div>
      </section>

    {% endblock %}

    {% block scripts %}

    <script src="static/js/script.js"></script>

    {% endblock %}